<h1>SPM's</h1>

<% if @patient %>
    <h3><%= @patient.fullname %></h3><br>
<% end %>

<% if @admin_mode %>
    <p>
        <a href="<%= new_spm_path %>" class="btn btn-secondary" role="button"
            data-toggle="tooltip" title="New SPM">
            <span class="material-icons">playlist_add</span>
        </a>
    </p>
<% end %>

<div id="spms">
    <%= render 'spms' %>
</div>