<h1>Settings</h1>

<p>
    <a href="<%= new_setting_path %>" class="btn btn-secondary" role="button"
        data-toggle="tooltip" title="New Setting">
        <span class="material-icons">add</span>
    </a>
</p>

<div id="settings">
    <%= render 'settings' %>
</div>