
<div class="container">

    <br>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <dl>
                        <dt>CAMERA</dt>
                        <dd>Getting camera... <span class="text-success material-icons" id="checked_camera">done</span></dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>

    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <dl>
                        <dt>DICOM</dt>
                        <dd>Reading header... 
                            <span class="text-success material-icons" id="checked_read">
                                done
                            </span>
                            <span class="text-danger material-icons" id="error_read">
                                error
                            </span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="d-flex justify-content-center">
                <div class="p-2" id="button_next">
                    <a href="<%= get_zip_path %>" 
                        class="btn btn-info"
                        role="button">
                        <span class="material-icons">navigate_next</span><br>
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>