<%= render "header" %>
<%= render "progress_bar" %>
<%= render "read_dicom_header" %>

<% if @error_message %>
    <div class="alert alert-danger">
        STATUS : 
        <%= @error_message %>
    </div>
<% end %>


<script>
    <% if @res %>
        document.getElementById("checked_read").hidden = false;
        document.getElementById("error_read").hidden = true;
        document.getElementById("button_next").hidden = false;
    <% else %>
        document.getElementById("checked_read").hidden = true;
        document.getElementById("error_read").hidden = false;
        document.getElementById("button_next").hidden = true;
    <% end %>
</script>