<ul>
    <li>camera = <%= @camera %></li>
    <li>depository = <%= depository %></li>
    <li>spm_base_name = <%= spm_base_name_path("YYMMDDxx00", Date.today) %></li>
    <li>spm_mirror_name = <%= spm_mirror_name_path("YYMMDDx00", Date.today) %></li>
</ul>