<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="<%= root_path %>">SPM-DB</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="<%= patients_path %>"
                data-toggle="tooltip" title="Patients">
                <span class="material-icons">people</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<%= spms_path %>"
                data-toggle="tooltip" title="All SPM's">
                <span class="material-icons">list</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<%= matlab_path %>"
                data-toggle="tooltip" title="New SPM">
                <span class="material-icons">create_new_folder</span>
            </a>
        </li>
    </ul>
</nav>